
@{
    ViewBag.Title = "Index";
}

<h1 class="margin-bottom">Products</h1>
<!-- Pruducts -->
<div class="margin2x">
    <div class="s-12 m-12 l-4 xl-3 xxl-3">
        <a href="/"><img class="full-img" src="@Url.Content("~/images/gallery-1.svg")"></a>
        <h5>EUR 20.59</h5>
        <a href="/"><h4 class="margin-bottom"><strong>Product name lorem ipsum dolor</strong></h4></a>
        <p class="margin-bottom">Lorem ipsum dolor sit amet, qui iisque scripserit in, ne pri suas labitur, cu duo brute veniam.</p>
        <form class="customform s-12 margin-bottom2x" action="">
            <div><button class="button rounded-btn submit-btn s-12" type="submit">Add to Cart</button></div>
        </form>
    </div>
    <div class="s-12 m-12 l-4 xl-3 xxl-3">
        <a href="/"><img class="full-img" src="@Url.Content("~/images/gallery-2.svg")"></a>
        <h5>EUR 20.59</h5>
        <a href="/"><h4 class="margin-bottom"><strong>Product name lorem ipsum dolor</strong></h4></a>
        <p class="margin-bottom">Lorem ipsum dolor sit amet, qui iisque scripserit in, ne pri suas labitur, cu duo brute veniam.</p>
        <form class="customform s-12 margin-bottom2x" action="">
            <div><button class="button rounded-btn submit-btn s-12" type="submit">Add to Cart</button></div>
        </form>
    </div>
    <div class="s-12 m-12 l-4 xl-3 xxl-3">
        <a href="/"><img class="full-img" src="@Url.Content("~/images/gallery-3.svg")"></a>
        <h5>EUR 20.59</h5>
        <a href="/"><h4 class="margin-bottom"><strong>Product name lorem ipsum dolor</strong></h4></a>
        <p class="margin-bottom">Lorem ipsum dolor sit amet, qui iisque scripserit in, ne pri suas labitur, cu duo brute veniam.</p>
        <form class="customform s-12 margin-bottom2x" action="">
            <div><button class="button rounded-btn submit-btn s-12" type="submit">Add to Cart</button></div>
        </form>
    </div>
    <div class="s-12 m-12 l-4 xl-3 xxl-3">
        <a href="/"><img class="full-img" src="~/images/gallery-4.svg"></a>
        <h5>EUR 20.59</h5>
        <a href="/"><h4 class="margin-bottom"><strong>Product name lorem ipsum dolor</strong></h4></a>
        <p class="margin-bottom">Lorem ipsum dolor sit amet, qui iisque scripserit in, ne pri suas labitur, cu duo brute veniam.</p>
        <form class="customform s-12 margin-bottom2x" action="">
            <div><button class="button rounded-btn submit-btn s-12" type="submit">Add to Cart</button></div>
        </form>
    </div>
    <div class="s-12 m-12 l-4 xl-3 xxl-3">
        <a href="/"><img class="full-img" src="~/images/gallery-4.svg"></a>
        <h5>EUR 20.59</h5>
        <a href="/"><h4 class="margin-bottom"><strong>Product name lorem ipsum dolor</strong></h4></a>
        <p class="margin-bottom">Lorem ipsum dolor sit amet, qui iisque scripserit in, ne pri suas labitur, cu duo brute veniam.</p>
        <form class="customform s-12 margin-bottom2x" action="">
            <div><button class="button rounded-btn submit-btn s-12" type="submit">Add to Cart</button></div>
        </form>
    </div>
    <div class="s-12 m-12 l-4 xl-3 xxl-3">
        <a href="/"><img class="full-img" src="~/images/gallery-3.svg"></a>
        <h5>EUR 20.59</h5>
        <a href="/"><h4 class="margin-bottom"><strong>Product name lorem ipsum dolor</strong></h4></a>
        <p class="margin-bottom">Lorem ipsum dolor sit amet, qui iisque scripserit in, ne pri suas labitur, cu duo brute veniam.</p>
        <form class="customform s-12 margin-bottom2x" action="">
            <div><button class="button rounded-btn submit-btn s-12" type="submit">Add to Cart</button></div>
        </form>
    </div>
    <div class="s-12 m-12 l-4 xl-3 xxl-3">
        <a href="/"><img class="full-img" src="~/images/gallery-2.svg"></a>
        <h5>EUR 20.59</h5>
        <a href="/"><h4 class="margin-bottom"><strong>Product name lorem ipsum dolor</strong></h4></a>
        <p class="margin-bottom">Lorem ipsum dolor sit amet, qui iisque scripserit in, ne pri suas labitur, cu duo brute veniam.</p>
        <form class="customform s-12 margin-bottom2x" action="">
            <div><button class="button rounded-btn submit-btn s-12" type="submit">Add to Cart</button></div>
        </form>
    </div>
    <div class="s-12 m-12 l-4 xl-3 xxl-3">
        <a href="/"><img class="full-img" src="~/images/gallery-1.svg"></a>
        <h5>EUR 20.59</h5>
        <a href="/"><h4 class="margin-bottom"><strong>Product name lorem ipsum dolor</strong></h4></a>
        <p class="margin-bottom">Lorem ipsum dolor sit amet, qui iisque scripserit in, ne pri suas labitur, cu duo brute veniam.</p>
        <form class="customform s-12 margin-bottom2x" action="">
            <div><button class="button rounded-btn submit-btn s-12" type="submit">Add to Cart</button></div>
        </form>
    </div>
    <div class="s-12 m-12 l-4 xl-3 xxl-3">
        <a href="/"><img class="full-img" src="~/images/gallery-1.svg"></a>
        <h5>EUR 20.59</h5>
        <a href="/"><h4 class="margin-bottom"><strong>Product name lorem ipsum dolor</strong></h4></a>
        <p class="margin-bottom">Lorem ipsum dolor sit amet, qui iisque scripserit in, ne pri suas labitur, cu duo brute veniam.</p>
        <form class="customform s-12 margin-bottom2x" action="">
            <div><button class="button rounded-btn submit-btn s-12" type="submit">Add to Cart</button></div>
        </form>
    </div>
    <div class="s-12 m-12 l-4 xl-3 xxl-3">
        <a href="/"><img class="full-img" src="~/images/gallery-2.svg"></a>
        <h5>EUR 20.59</h5>
        <a href="/"><h4 class="margin-bottom"><strong>Product name lorem ipsum dolor</strong></h4></a>
        <p class="margin-bottom">Lorem ipsum dolor sit amet, qui iisque scripserit in, ne pri suas labitur, cu duo brute veniam.</p>
        <form class="customform s-12 margin-bottom2x" action="">
            <div><button class="button rounded-btn submit-btn s-12" type="submit">Add to Cart</button></div>
        </form>
    </div>
    <div class="s-12 m-12 l-4 xl-3 xxl-3">
        <a href="/"><img class="full-img" src="~/images/gallery-3.svg"></a>
        <h5>EUR 20.59</h5>
        <a href="/"><h4 class="margin-bottom"><strong>Product name lorem ipsum dolor</strong></h4></a>
        <p class="margin-bottom">Lorem ipsum dolor sit amet, qui iisque scripserit in, ne pri suas labitur, cu duo brute veniam.</p>
        <form class="customform s-12 margin-bottom2x" action="">
            <div><button class="button rounded-btn submit-btn s-12" type="submit">Add to Cart</button></div>
        </form>
    </div>
    <div class="s-12 m-12 l-4 xl-3 xxl-3">
        <a href="/"><img class="full-img" src="~/images/gallery-4.svg"></a>
        <h5>EUR 20.59</h5>
        <a href="/"><h4 class="margin-bottom"><strong>Product name lorem ipsum dolor</strong></h4></a>
        <p class="margin-bottom">Lorem ipsum dolor sit amet, qui iisque scripserit in, ne pri suas labitur, cu duo brute veniam.</p>
        <form class="customform s-12 margin-bottom2x" action="">
            <div><button class="button rounded-btn submit-btn s-12" type="submit">Add to Cart</button></div>
        </form>
    </div>
    <div class="s-12 m-12 l-4 xl-3 xxl-3">
        <a href="/"><img class="full-img" src="~/images/gallery-4.svg"></a>
        <h5>EUR 20.59</h5>
        <a href="/"><h4 class="margin-bottom"><strong>Product name lorem ipsum dolor</strong></h4></a>
        <p class="margin-bottom">Lorem ipsum dolor sit amet, qui iisque scripserit in, ne pri suas labitur, cu duo brute veniam.</p>
        <form class="customform s-12 margin-bottom2x" action="">
            <div><button class="button rounded-btn submit-btn s-12" type="submit">Add to Cart</button></div>
        </form>
    </div>
    <div class="s-12 m-12 l-4 xl-3 xxl-3">
        <a href="/"><img class="full-img" src="~/images/gallery-3.svg"></a>
        <h5>EUR 20.59</h5>
        <a href="/"><h4 class="margin-bottom"><strong>Product name lorem ipsum dolor</strong></h4></a>
        <p class="margin-bottom">Lorem ipsum dolor sit amet, qui iisque scripserit in, ne pri suas labitur, cu duo brute veniam.</p>
        <form class="customform s-12 margin-bottom2x" action="">
            <div><button class="button rounded-btn submit-btn s-12" type="submit">Add to Cart</button></div>
        </form>
    </div>
    <div class="s-12 m-12 l-4 xl-3 xxl-3">
        <a href="/"><img class="full-img" src="~/images/gallery-2.svg"></a>
        <h5>EUR 20.59</h5>
        <a href="/"><h4 class="margin-bottom"><strong>Product name lorem ipsum dolor</strong></h4></a>
        <p class="margin-bottom">Lorem ipsum dolor sit amet, qui iisque scripserit in, ne pri suas labitur, cu duo brute veniam.</p>
        <form class="customform s-12 margin-bottom2x" action="">
            <div><button class="button rounded-btn submit-btn s-12" type="submit">Add to Cart</button></div>
        </form>
    </div>
    <div class="s-12 m-12 l-4 xl-3 xxl-3">
        <a href="/"><img class="full-img" src="~/images/gallery-1.svg"></a>
        <h5>EUR 20.59</h5>
        <a href="/"><h4 class="margin-bottom"><strong>Product name lorem ipsum dolor</strong></h4></a>
        <p class="margin-bottom">Lorem ipsum dolor sit amet, qui iisque scripserit in, ne pri suas labitur, cu duo brute veniam.</p>
        <form class="customform s-12 margin-bottom2x" action="">
            <div><button class="button rounded-btn submit-btn s-12" type="submit">Add to Cart</button></div>
        </form>
    </div>
</div>
